@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F8F4EC;
}
::-webkit-scrollbar-thumb {
  background: #DFD1B8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C7B18E;
}
